@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto slab', serif;
}

body {
    display: grid;
    background: var(--color-primary);
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    margin: 0 64px;
    grid-template-areas: 
    ".fnd fnd fnd"
    "sun fnd fnd fnd"
    "sun fnd fnd fnd"
    "sun fnd fnd fnd"
    ". fnd fnd fnd"
    ". fnd fnd fnd"
    ". fnd fnd fnd"
    ". . . ."
    ". . . ."
    ". . . ."
    ;
}

.fnd {
    display: flex;
    justify-content: flex-end;
    grid-area: fnd;
}
.fnd img {
    width: 70%;
    height: 95%;
}
.sun {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: var(--color-sun);
    box-shadow: 0 0 150px var(--color-sunshdw);
    margin-top: 50px;
    grid-area: sun;
}