@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto slab', serif;
    color: var(--color-font);
}

body {
    position: relative;
    display: grid;
    width: 100%;
    background: var(--color-primary);
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    padding: 0 4vw;
    grid-template-areas: 
    ". . . ."
    ". . . txt_1"
    " titl titl . ."
    " titl titl . ."
    "prrf prrf . ."
    "btn .  txt_2 ."
    ". . . ."
    "bx_1 bx_2 bx_3 bx_4"
    "bx_1 bx_2 bx_3 bx_4"
    "bx_1 bx_2 bx_3 bx_4"
    ;
}
.fnd {
    position: absolute;
    z-index: -2;
    right: 0;
}
.fnd img {
    height: 95%;
}
.sun {
    position: absolute;
    z-index: -1;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    background: var(--color-sun);
    box-shadow: 0 0 150px var(--color-sunshdw);
    top: 10%;
    right: 81%;
}
.item_1 {
    /* background: red; */
    grid-area: titl;
    display: flex;
    justify-content: center;
}
.item_1 h1 {
    font-size: 5vw;
}
.item_2 {
    /* background: green; */
    grid-area: prrf;
}
.item_2 p {
    margin-top: 10vh;
    font-size: 1.5vw;
    font-weight: normal;
}
.item_3 {
    /* background: blue; */
    margin-top: 5vh;
    grid-area: btn;
}
.item_3 button {
    height: 3vw;
    width: 10vw;
    color: var(--color-primary);
    font-weight: bolder;
    border-radius: 50px;
    font-size: 1vw;
    border: none;
}
.item_4 {
    /* background: darkblue; */
    grid-area: bx_1;
}
.item_5 {
    /* background: darkcyan; */
    grid-area: bx_2;
}
.item_6 {
    /* background: darkgoldenrod; */
    grid-area: bx_3;
}
.item_7 {
    /* background: darkgreen; */
    grid-area: bx_4;
}
.item_4, .item_5, .item_6, .item_7 {
    position: relative;
    height: 22vh;
    display: flex;
    margin: 0 1vw;
}
.card {
    height: max-content;
    background: linear-gradient(180deg, rgb(46, 46, 46), rgb(17, 17, 17));
    border: 1px solid rgba(255, 255, 255, 0.418);
    border-radius: 10px;
    box-shadow: inset 10px 10px 20px #424242;
    font-size: 1vw;
}
.card p, h3, img {
    padding: 0 1vw;
    padding-top: 1vw;
}
.card p {
    font-weight: lighter;
    padding-bottom: 2vw;
}
.item_8 {
    background: darkmagenta;
    grid-area: txt_1;
}
.item_9 {
    background: darkred;
    grid-area: txt_2;
}

@media (width <= 1000px){
    body {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
        "titl titl titl"
        "prrf prrf prrf"
        ". btn ."
        "txt_1 . txt_2"
        "bx_1 bx_2 bx_3"
        ". bx_4 ."

        ;
        padding: 0 4vw;
    }
    .fnd {
        width: 100%;
        top: 0;
        height: 50vh;
    }
    .fnd img{
        width: 100%;
        height: 75%;
        object-fit: contain;
    }
    .sun {
        top: 0;
    }
}